<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="script">

  <!--===============================================================================================-->
  <script src="/assets/thuvienlogin/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="/assets/thuvienlogin/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="/assets/thuvienlogin/vendor/bootstrap/js/popper.js"></script>
  <script src="/assets/thuvienlogin/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/assets/thuvienlogin/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="/assets/thuvienlogin/vendor/daterangepicker/moment.min.js"></script>
  <script src="/assets/thuvienlogin/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/assets/thuvienlogin/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/assets/thuvienlogin/js/main.js"></script>
</th:block>
</html>