<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="head">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Admin Dashboard" name="description">
<meta content="ThemeDesign" name="author">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Appzia - Responsive Admin Dashboard Template</title>
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<!--Morris Chart CSS -->
    <!--Morris Chart CSS -->
<!--    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">-->

    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/sweet-alert/sweetalert2.min.css">
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/error.css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="../../static/assets/css/style.css">
    <script src="/assets/jquery/jquery-3.6.1.min.js"></script>
</th:block>