<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="script">
   <script src="/assets/js/jquery.min.js"></script>
   <script src="/assets/js/popper.min.js"></script>
   <script src="/assets/js/bootstrap.min.js">
   <script src="/assets/js/modernizr.min.js"></script>
   <script src="/assets/js/detect.js"></script>
   <script src="/assets/js/fastclick.js"></script>
   <script src="/assets/js/jquery.slimscroll.js"></script>
   <script src="/assets/js/jquery.blockUI.js"></script>
<!--   <script src="/assets/js/waves.js"></script>-->
   <script src="/assets/js/wow.min.js"></script>
   <script src="/assets/js/jquery.nicescroll.js"></script>
   <script src="/assets/js/jquery.scrollTo.min.js"></script>

   Morris Chart
   <script src="/assets/plugins/raphael/raphael-min.js"></script>
   <script src="/assets/plugins/morris/morris.min.js"></script>

   <script src="/assets/pages/dashborad.js"></script>

   <script src="/assets/js/apptemplate.js"></script>
<!--   <script src="/assets/js/jquery-3.6.1.min.js"></script>-->
   <script src="/assets/sweet-alert/sweetalert2@11.js"></script>

   <script src="/assets/jquery/jquery.validate-1.19.5.min.js"></script>
   <script src="/assets/iziToast/dist/js/iziToast.min.js"></script>
   <script src="/assets/bootstrap-5.2.0-dist/js/bootstrap.js"></script>
   <script type="text/javascript" src="/assets/js/notify-0.4.1.min.js"></script>

</th:block>