<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="sidebar">

  <!-- ========== Left Sidebar Start ========== -->

  <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

      <!--<div class="user-details">-->
      <!--<div class="pull-left">-->
      <!--<img src="assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">-->
      <!--</div>-->
      <!--<div class="user-info">-->
      <!--<div class="dropdown">-->
      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">David Cooper <span class="caret"></span></a>-->
      <!--<ul class="dropdown-menu">-->
      <!--<li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>-->
      <!--<li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>-->
      <!--<li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>-->
      <!--<li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>-->
      <!--</ul>-->
      <!--</div>-->

      <!--<p class="text-muted m-0">Admin</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--- Divider -->


      <div id="sidebar-menu">
        <ul>
          <li class="menu-title">Menu</li>
          <li>
            <a href="/products" class="waves-effect"><i class="mdi mdi-home"></i><span> Dashboard <span class="badge badge-pill badge-primary float-right">1</span></span></a>
          </li>

          <li class="has_sub">
            <a href="#" class="waves-effect"><i class="mdi mdi-table"></i><span> Tables </span><span class="float-right"><i class="mdi mdi-plus"></i></span></a>
            <ul class="list-unstyled">
              <li><a href="/">List Product</a></li>
<!--              <li><a href="tables-datatable.html">Data Table</a></li>-->
<!--              <li><a href="tables-responsive.html">Responsive Table</a></li>-->
<!--              <li><a href="tables-editable.html">Editable Table</a></li>-->
            </ul>
          </li>

        </ul>
      </div>
      <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
  </div>
  <!-- Left Sidebar End -->

</th:block>
<th:block th:replace="/layoutProduct/script :: script"/>