<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="script">
  <script src="/assets/thuvienshop/js/jquery.min.js"></script>
  <script src="/assets/thuvienshop/js/bootstrap.min.js"></script>
  <script src="/assets/thuvienshop/js/slick.min.js"></script>
  <script src="/assets/thuvienshop/js/nouislider.min.js"></script>
  <script src="/assets/thuvienshop/js/jquery.zoom.min.js"></script>
  <script src="/assets/thuvienshop/js/main.js"></script>
  <script src="/assets/js/app.js"></script>

</th:block>